// Place all the styles related to the customer/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-list-wrapper {
  tbody {
    tr {
      background-color: #fff;
    }
  }
}


.order-show-wrapper {
  tbody {
    tr {
      background-color: #fff;
    }
  }
}

.edit-line-item-properties-wrapper {
  max-width: 900px;
  margin: 0 auto;

  table {
    background: #fff;
  }

  h1 {
    margin-bottom: 25px;
  }
}

.edit-sizes-form-wrapper {
  max-width: 900px;
  margin: 0 auto;

  table {
    background: #fff;
  }

  h1 {
    margin-bottom: 25px;
  }
}
