<p>please wrap table in a form (if it makes sense, im following recharges site)
  and have the form send a PATCH request using customer_order_path as a url
</p>

<div class="container">
  <%= form_for :order, as: :post, url: customer_order_path(@order), method: :patch do |f| %>
    <table class="table">
      <tbody>
        <% @order.line_items.each do |pair| %>
          <% pair.each do |key, value| %>
            <tr>
              <td> <%= key %></td>
              <td><%= value %></td>
              <td>delete icon</td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= f.submit %>
  <% end %>
</div>
