// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #edf1f7 !important;
}

.navbar {
  margin-bottom: 30px;
}

.spacer {
  margin-bottom: 150px;
}
